---
---
@import "main";

body {
    background: url(/assets/food_bg_2.jpg) no-repeat center center fixed;
    background-size: cover;
}

* {
    // transition: all 0.5s ease-in-out;
}

#main {
    width: 50%;
    margin: 1em auto;
    padding: 1em;
    position: relative;
}

div.jumbotron {
    > .panel:first-child  {
        padding: 2em;

        nav {
            button {
                font-size: $big-font-size;
                padding: 0.7em 2em;
                opacity: 1;
            }

            .btn-group button:not(:first-child) {
                display: none;
            }
        }
    }

    background: transparent;
    padding-top: 1em;
    position: relative;
    .container-fluid {
        padding: 0;
        position: relative;

        .btn-group-divide .btn.btn-lg {
            margin-right: 0.5em;
            padding: 1em 1.5em;
            border-radius: 3px;
            color: black;
        }
    }
    > h1 {
        margin: 0;
        margin-bottom: 0.5em;
    }
    a {
        color: #000;

        &:hover {
            transition: all 0.2s linear;
            opacity: 0.9;
        }
    }
}
