---
---
nav.topbar {
    position: fixed;
    top: 0;
    display: block;
    height: 3em;
    width: 100%;
    background-color: rgba(200, 200, 200, 0.4);

    ul  {
        display: flex;
        justify-content: space-around;
        li  {
            opacity: 1;
            display: inline-block;
            height: 3em;
            line-height: 3em;
        }
    }
}

#navbar-top {
    background-color: #fff;
}
