---
---
nav.navbar  {
    margin-top: 0px;
    background: transparent;
    border: none;
    *  {
        font-family: Lato;
        letter-spacing: 0.3em;
    }

    #search  {
        input {
            background: transparent;
            border: none;
            border-bottom: 3px solid white;
            box-sizing: border-box;
            color: white;
            letter-spacing: normal;
        }

        img {
            margin-bottom: -9px;
        }
    }

    a {
        color: #e5e5e5;
    }
    
    a:hover  {
        background: transparent;
        color: #fff;
    }

    .icon-bar  {
        background-color: white;
    }

}
