---
---

@import "bootstrap";
@import "circle";
@import "index";
@import 'https://fonts.googleapis.com/css?family=Lobster';

.main-circle {
    @include on-circle($item-count: 5, $circle-size: 40em, $item-size: 11em);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 8em;
    background-color: tomato;

    li div {
        width: 100%;
        height: 100%;
        background-color: yellow;
        border-radius: 100%;
        padding: 5em;
        
    }

    li div:hover {
        transform: scale(1.5);
    }
}

.pages#main {
    background: url(/assets/food_bg_1.jpg) no-repeat center center fixed;
    background-size: cover;

    h1  {
        display: inline-block;
        position: absolute;
        top: 30%;
        left: 30%;
        transform: translate(-50%, -50%);
        font-family: 'Lobster', cursive;
        font-size: 8em;
        color: #000;
        text-shadow: -3px 0 #eee, 0 3px #eee, 3px 0 #eee, 0 -3px #eee;
    }
}
