---
layout: category
---
<link rel="stylesheet" href="/css/category.css">
<script src="js/cat.js"></script>
<div id="main">
  {% include h_navbar.html %}
  <div class="jumbotron">
    <div class="panel card">
      <h1>Articles</h1>
      <nav>
        <h3>Filter categories:</h3>
        <div class="container-fluid">
          <div class="btn-group">
            <button type=button onclick="toggleAll(this)" class="science btn-group-head btn btn-default">Science</button>
            <button type=button onclick="toggleAll(this)" class="chemistry btn btn-default">Chemistry</button>
            <button type=button onclick="toggleAll(this)" class="physics btn btn-default">Physics</button>
            <button type=button onclick="toggleAll(this)" class="biology btn btn-default">Biology</button>
          </div>
          <button type=button onclick="toggleAll(this)" class="world btn btn-default">World</button>
          <button type=button onclick="toggleAll(this)" class="nutrition btn btn-default">Nutrition</button>
          <button type=button onclick="toggleAll(this)" class="history btn btn-default">History</button>
          <button type=button onclick="toggleAll(this)" class="design btn btn-default">Design</button>
          <!-- Split button -->
        </div>
      </nav>
    </div>
    <div class="container-fluid" id="article-container">
      <div class="grid">
        {% for post in site.posts %}
          <div class="post-wrapper">
            <a href="{{ post.url }}">
              <div class="panel card post {{ post.cat }} col-sm-12">
                <h1>{{ post.title }}</h1>
                {{ post.excerpt }}
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script src="js/search.js"></script>
