---
---
<!doctype html>
<html>
<head>
  <script   src="https://code.jquery.com/jquery-3.1.1.slim.min.js"   integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="   crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/index.css">
  <script src="js/bootstrap.min.js"></script>
  <script src="js/resize.js"></script>
  <script src="js/index.js"></script>
</head>
<body>
  <div id="jumbo">
    {% include navbar.html %}
    <div class="container">
      <h1>{{ site.title }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div id="newsgrid">
          <div class="row">
            {% for post in site.posts offset: 0 limit: 1 %}
              <a href="{{ post.url }}">
                <div class="mywrapper">
                  <div class="post card col-md-12" style="background: url('{{ post.img }}') no-repeat center center; background-size: cover;">
                    <div class="wwrapper resize {{ post.cat }}">
                      {{ post.title }}
                      <!-- <p>{{ post.excerpt }}</p> -->
                    </div>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
          <div class="row">
            {% for post in site.posts offset: 1 limit: 4 %}
              <a href="{{ post.url }}" class="mywrapper col-md-3 col-sm-6 col-xs-12">
                <div class="post card {{ post.cat }}" style="background-image: url('{{ post.img }}') no-repeat center center">
                    <div class="hwrapper resize">
                      {{ post.title }}
                    </div>
                    <div class="pwrapper">
                      <p>{{ post.excerpt }}</p>
                    </div>
                    <!-- <div class="ellipsis"> -->
                      <!-- Keep reading... -->
                    <!-- </div> -->
                  </div>
                </a>
            {% endfor %}
            <a href="/cat1.html" class="mywrapper hidden-md hidden-lg col-md-3 col-sm-6 col-xs-12">
              <div class="post card" id="moreposts">
                <div class="hwrapper resize">
                  all the posts...
                </div>
              </div>
            </a>
          </div>
        </div>
        <div id="description" class="card">
          <h1>Who are we?</h1>
          <p>Welcome to the *crazy scientist's bakery*, home of the crazy food lovers! 
          <br> We decided to set up this website in order to show more people what food really is and let them know more about it. We want the people who visit our website not only to learn a lot from it, but also find it pretty interesting.  This website will contain articles, uploaded every week, about all kind of topics relative to food. If you have any good articles or your own food journals that you would like to upload on our website, just let us know! </p>
      </div>
      <nav id="links" class="col-md-4 hidden-sm hidden-xs">
        <div class="card">
          <img src="assets/eggicon.svg" alt="">
          <h1>Lorem Ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisl augue, interdum eu ullamcorper eu, lobortis sed odio.</p>
        </div>
        <div class="card">
          <h1>Resources</h1>
          <ul>
            <li><a href="http://www.bbc.co.uk/food/">BBC Food</a></li>
            <li><a href="http://thatsugarfilm.com/blog/2016/11/24/healthy-fats-for-a-longer-life/">Healty fats for a longer life</a></li>
            <li><a href="http://paulhollywood.com/home/recipes/">Paul Hollywood recipes</a></li>
            <li><a href="http://www.maryberry.co.uk/">Maryberry</a></li>
            <li><a href="http://onlinelibrary.wiley.com/doi/10.1111/jfds.2016.81.issue-11/issuetoc">Journal of Food Science</a></li>
            <li><a href="http://www.nytimes.com/topic/subject/genetically-modified-food">NY Times on GMO food</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- {% include footer.html %} -->
</body>
</html>
